RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]

SetEnv CI_ENV       development
SetEnv HOST_URL     
SetEnv DB_HOST      localhost
SetEnv DB_USERNAME  
SetEnv DB_PASSWORD  
SetEnv DB_NAME      
SetEnv ROOT_AUTH    
SetEnv ROOT_ROLE    
SetEnv SMTP_HOST
SetEnv SMTP_USER
SetEnv SMTP_PASS
SetENV SMTP_PORT
SetEnv EMAIL_FROM
SetEnv EMAIL_ALIAS
